@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* app/globals.css */

.container {
  padding: 50px;
  text-align: center;
}

.main {
  font-family: Arial, sans-serif;
}

.title {
  color: #4CAF50;
  font-size: 48px;
}

.description {
  font-size: 20px;
  color: #555;
}
